<launch>
  <arg name="model" default="$(find campusrover_description)/urdf/campusrover.urdf"/>
  <arg name="gui" default="false" />

  <arg name="rvizconfig" default="$(find campusrover_description)/rviz/urdf.rviz" />

  <param name="robot_description"
    textfile="$(arg model)" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam param="source_list">["table_joint_states"]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
</launch>
